.cabecalho {
    background-color: var(--cor-branco);
    display: flex;
    justify-content: space-between;
    position: relative;
}

.cabecalho_menu_hamburger {
    width: 24px;
    height: 24px;
    background-image: url("../assets/Menu.png");
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
}

.container {
    display: flex;
    align-items: center;
}

.container_imagem {
    padding: 1rem;
}

.container_botao {
    display: none;
}

.container_botao:checked~.lista_menu {
    display: block;
    position: absolute;
    top: 100%;
}

.container_botao:checked~.conteiner_rotulo > .cabecalho_menu_hamburger {
    background-image: url(../assets/Menu\ Aberto.svg);
}

.container_botao:checked ~ .conteiner_rotulo {
    background: var(--degrade);
}

.lista_menu {
    display: none;
    width: 60vw;

    .lista_menu_titulo,
    .lista_menu_item {
        padding: 1em;
        background-color: var(--cor-branco);
        font-family: var(--fonte-principal);
        font-size: 1em;
    }

    .lista_menu_titulo {
        color: var(--cor-laranja);
        font-weight: bold;
    }

    .link_lista_menu {
        color: var(--cor-azul);
        text-decoration: none;
        font-weight: 400;
    }

}

/* Desabilitando coisas */

.titulo_conteiner {
    display: none;
}

.opecoes {
    display: none;
}

.texto_icone_container {
    display: none;
}



@media screen and (min-width: 1024px) {

    .titulo_conteiner,
    .titulo_negrito_conteiner {
        font-family: var(--fonte-titulo);
        font-size: 30px;
    }

    .titulo_conteiner {
        font-weight: 400;
        display: block;
    }

    .titulo_negrito_conteiner {
        font-weight: bold;
    }

    .opecoes {
        display: flex;
        align-items: center;
    }

    .itens_opecoes {
        padding: 0 1em;
        font-family: var(--fonte-principal);

        .opecoes_link {
            font-weight: 400;
            text-decoration: none;
            color: black;
        }
    }

    .favoritos_imagem {
        display: none;
    }

    .cabecalho_menu_hamburger {
        display: none;
    }

    .opecoes_botao:checked~.lista_menu {
        display: block;
        position: absolute;
        top: 100%;
        width: auto;
    }

    .opecoes_botao:checked~.opcoes_rotulo > .itens_opecoes {
        background: var(--degrade);
        color: white;
    }

    .itens_opecoes {
        padding: 2em 1em;
    }

    .lista_menu_item:hover {
        background: var(--degrade);
    }

    .lista_menu_item:hover > .link_lista_menu {
        -webkit-text-fill-color: white;
    }

    .opecoes_botao {
        display: none
    }
}

@media screen and (min-width: 1728px) {
    .link_container {
        display: flex;
        align-items: center;
        text-decoration: none;
        color: black;
        font-family: var(--fonte-principal);
    }

    .cabecalho {
        padding: 0 2em;
    }

    .opecoes {
        margin-right: auto;
    }

    .texto_icone_container {
        display: block;
    }
}